<div class="calendar-container">
  <div>
        <calendar-scheduler-view
                                [viewDays]="viewDays"
                                [viewDate]="viewDate"
                                [events]="events"
                                [locale]="locale"                               
                                [responsive]="false"
                                [weekStartsOn]="weekStartsOn"
                                [excludeDays]="excludeDays"
                                [startsWithToday]="startsWithToday"
                                [hourSegments]="hourSegments"
                                [dayStartHour]="dayStartHour"
                                [dayEndHour]="dayEndHour"
                                [dayModifier]="dayModifier"
                                [hourModifier]="hourModifier"
                                [segmentModifier]="segmentModifier"
                                [eventModifier]="eventModifier"
                                [showEventActions]="true"
                                [showSegmentHour]="true"
                                [zoomEventOnHover]="true"
                                [refresh]="refresh">
        </calendar-scheduler-view>
    </div>
</div>